body {
    margin: 0;
    padding: 0;
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

nav {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 0.5em 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em 5%;
}

section {
    margin-bottom: 2em;
}

.about-item, .project-item, .research-item {
    margin-bottom: 1.5em;
    border-left: 4px solid #444;
    padding-left: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
