body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* フッターの高さを考慮してpaddingを追加 */
    padding-bottom: 60px;
    /* フッターの高さに合わせて調整 */
}

header,
nav,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* フッターを追加 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* フッターの高さを指定 */
    height: 40px;
    /* 必要に応じて調整 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: 2em 5%;
}

.project-item,
.research-item {
    margin-bottom: 2em;
}
